{{!-- ***3 --}}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- the static folder in the server makes the public (like the index and invisible, just route straight to the desired folder beneath it.) --}}
    <link rel="stylesheet" href="/assets/css/style_burger.css" type="text/css" />
    <title>MVC for your burger cravings!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burger.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>